.contactItem{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 12px;
    display: flex;
    gap:24px;
    align-items: center;
    justify-content: space-between  ;
    width: 280px;
}
.contactName{
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 8px;
}

.contactNumber{
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 16px;
    line-height: 1;
}